@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:900');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.dummy-text{
    padding-top: 30px;
}
h1{
    font-family: 'Birthstone', cursive;
    text-align: center;
    margin-bottom: 30px;
    font-size: 70px;
}
h3{
    text-align: center;
    margin-bottom: 10px;
}
p{
    text-align: center;
}
.main-form{
   position: relative;
   margin-top: 25px;
   left: 46%;
}
select{
    padding: 6.5px;
}
input[type="number"]{
    width: 105px;
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
    padding: 5px;
}
button#generate{
    position: relative;
    left: -2%;
    font-size: 15px;
    border: none;
    background: rgb(228, 92, 92);
    color:white;
    text-align: center;
    padding: 10.5px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    margin-top: 15px;
    border-radius: 15px;
}
#display{
    margin-top: 15px;
    text-align:justify;
    justify-content:center;
    align-items:center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 17px;
    margin-left: 20px;
    margin-right: 20px;
}

.res{
    border: 1px solid black;
}

